html,
body,
#__next {
  width: 100%;
  height: 100%;
}

.layout {
  width: 100%;

  &.scroll--lock {
    overflow: hidden;
  }

  &__app {
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    width: 100%;
  }

  &__header {
    width: 100%;
    background: $white;
  }

  &__document {
    width: 100%;
  }

  &__contents {
    padding-bottom: rem(80px);
  }

  &__dockbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: rem(52px);
    background: $white;
    border-top: 1px solid $greye8;
  }

  &__footer {
    background: $greyf8;
    padding-bottom: rem(52px);

    &.bottomFloating {
      padding-bottom: rem(56px);
    }
  }

  &__floating {
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
}
