:root {
  --point: #f29f05;
  --black: #111;

  //secondary
  --mint: #00bdb6;
  --darkmint: #006363;
  --lightmint: #e7fcfc;
  --lightorange: #fff1eb;
  --lightblue: #e6f3ff;

  //support
  --blue: #33a3ff;
  --red: #ff2d21;
  --green: #00c751;

  //neutrals
  --white: #fff;
  --grey50: #f8f8f8;
  --grey80: #f2f2f2;
  --grey100: #e8e8e8;
  --grey200: #ddd;
  --grey400: #ccc;
  --grey500: #aaa;
  --grey600: #888;
  --grey800: #666;

  //FONTS
  --noto: 'Notosans', sans-serif; //국문
  --font_n: 'Montserrat', var(--noto); //숫자
  --font_e: 'Montserrat', var(--noto); //영문
}

/* #region Colors */
//primary
$point: var(--point);
$black: var(--black);

//secondary
$mint: var(--mint);
$darkmint: var(--darkmint);
$lightmint: var(--lightmint);
$lightorange: var(--lightorange);
$lightblue: var(--lightblue);

//support
$blue: var(--blue);
$red: var(--red);
$green: var(--green);

//neutrals
$white: var(--white);
$greyf8: var(--grey50);
$greyf2: var(--grey80);
$greye8: var(--grey100);
$greyddd: var(--grey200);
$greyccc: var(--grey400);
$greyaaa: var(--grey500);
$grey888: var(--grey600);
$grey666: var(--grey800);

/* #region Fonts */
$noto: var(--noto);
$font_n: var(--font_n);
$font_e: var(--font_e);
/* #endregion */
