.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: $white;

  &-header {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 1.2rem;
  }

  &-title {
    @include font($black, 600, 1.6rem);
    text-align: center;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem;

    img {
      width: 2.4rem;
    }
  }

  &-content {
    &:empty {
      @include flex();
    }
  }
}
